require 'rubygems'
require 'lib/raws'

require 'yaml'
def d(val)
  puts val.to_yaml
end

RAWS.aws_access_key_id = AWS_ACCESS_KEY_ID
RAWS.aws_secret_access_key = AWS_SECRET_ACCESS_KEY

RAWS_SDB_DOMAINS = [__AWS_SDB_DOMAIN__,]
RAWS_SQS_QUEUE  = __AWS_SQS_QUEUE__
RAWS_S3_BUCKETS = [
  # bucket_name, location, acl
  [__BUCKET_NAME__, nil, nil],
]
